.overview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2%;
  margin: 2%;
  justify-content: center;
  margin-bottom: 15vh;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .overview {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .overview {
    grid-template-columns: repeat(4, 1fr);
  }
}
