.banner {
  position: relative;
  width: 100%;
  display: flex;
  height: 80vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.title {
  color: #eafdf9;

  background-color: rgba(27, 110, 110, 0.4);
  font-size: xx-large;
  position: absolute;
  width: 40%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  top: 40%;
  z-index: 1;
  left: 30%;
}
/*MEDIA-QUERIES*/
@media only screen and (max-width: 900px) {
  .banner {
    position: relative;
    width: 100%;
    display: flex;
    height: 70vh;
  }
}
@media only screen and (max-width: 600px) {
  .banner {
    position: relative;
    width: 100%;
    display: flex;
    height: 50vh;
  }
  .title {
    font-size: x-large;
  }
}
