.banner {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 80vh;
  border: solid black;
}

.title {
  color: white;
  text-shadow: 2px 2px #4eaa9b;
  z-index: 1;
  font-size: xx-large;
  position: absolute;
  top: 40%;
  right: 40%;
  left: 40%;
  bottom: 40%;
}
