.navbar {
  background-color: rgba(217, 225, 228);
  width: 100%;
  height: 15vh;
  display: flex;
  color: white;
  justify-content: space-between;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.navbar h1 {
  font-size: 5vh;
  padding: 4vh;
  justify-self: left;
  vertical-align: middle;
}

.navbar .links {
  padding: 5vh;
  justify-self: right;
  justify-content: space-between;
}

.navbar .links a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 4vh;
  padding: 0 2vh 0 2vh;
}

.navbar .hamburger {
  display: none;
}
.navbar .links:global(#hidden) {
  display: flex;
}

/*MEDIA-QUERIES*/

@media only screen and (max-width: 900px) {
  .navbar .hamburger {
    padding: 4vh;
    display: flex;
  }
  .navbar .links {
    display: none;
  }

  .navbar .links:global(#hidden) {
    font-size: 3vh;
    z-index: 1;
    position: absolute;
    display: flex;
    top: 15vh;
    flex-direction: column;
    width: 100%;
    background-color: rgba(217, 225, 228, 0.8);
    margin: 0;
    padding: 0;
  }
}
