.navbar {
  background-color: rgb(27, 110, 110);
  width: 100%;
  height: 15vh;
  display: flex;
  color: #eafdf9;
  justify-content: space-between;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar h1 {
  font-size: 5vh;
  padding: 4vh;
  justify-self: left;
  vertical-align: middle;
}

.navbar .links {
  padding: 5vh;
  justify-self: right;
  justify-content: space-between;
}

.navbar .links a {
  text-decoration: none;
  list-style: none;
  color: #eafdf9;
  font-size: 1.5rem;
  padding: 0 2vh 0.5vh 2vh;
}

.navbar .links a:hover {
  color: rgb(245, 113, 113);
}

.navbar .hamburger {
  display: none;
}
.navbar .links:global(#hidden) {
  display: flex;
}

/*MEDIA-QUERIES*/

@media only screen and (max-width: 1250px) {
  .navbar .hamburger {
    padding: 4vh;
    display: flex;
  }
  .navbar .links {
    display: none;
  }

  .navbar .links:global(#hidden) {
    box-sizing: border-box;
    font-size: 2rem;
    z-index: 1;
    position: absolute;
    display: flex;
    top: 15vh;
    flex-direction: column;
    width: 100%;
    background-color: rgb(27, 110, 110, 0.8);

    padding: 3vh;
  }
}
