* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.App {
  text-align: center;
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
.App h1 {
  font-size: 5rem;
}
.App h2 {
  font-size: 2rem;
  color: var(--titles);
  padding: 5vh 0 1vh 0;
}
.App h3 {
  color: var(--navbarcolor);
}
:root {
  --background: rgb(41, 196, 196);
  --navbarcolor: rgba(27, 110, 110);
  --titles: rgba(245, 113, 113);
  --ingtitles: rgb(241, 240, 240); /*instructions and ingredients*/
  --white: rgb(234, 253, 249); /*slider arrow+ button & header*/
}
