/* Before styling in CSS, check if there is a property in the Splide component */

.container {
}

.arrows {
}

.pagination {
  bottom: -17px;
}

/* Color */
.arrow svg {
  fill: #eafdf9;
}

.page {
  background-color: #eafdf9;
}

/* Color of active page button
 (Splide doesn't support naming this class) */
:global(button.splide__pagination__page.is-active) {
  background-color: rgba(27, 110, 110);
}

/* Color when hover */
.page:hover {
  background-color: rgba(27, 110, 110);
}

.arrow:hover svg {
  fill: rgba(27, 110, 110);
}

h2 {
}
