/* Before styling in CSS, check if there is a property in the Splide component */

.container {
  margin: 4%;
}
/* Color */
.arrow svg {
  fill: var(--white);
}

.page {
  background-color: var(--white);
}

/* Color of active page button
 (Splide doesn't support naming this class) */
:global(button.splide__pagination__page.is-active) {
  background-color: var(--navbarcolor);
}

/* Color when hover */
.page:hover {
  background-color: var(--navbarcolor);
}

.arrow:hover svg {
  fill: var(--navbarcolor);
}

.title {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 1.5rem auto;
  font-size: 2rem;
}
@media screen and (min-width: 1451px) and (max-width: 2500px) {
  .title {
    margin: 5rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 771px) and (max-width: 1450px) {
  .title {
    margin: 3rem;
  }
}
@media screen and (min-width: 541px) and (max-width: 770px) {
  .title {
    margin: 2.5rem;
  }
}
@media screen and (min-width: 281px) and (max-width: 540px) {
  .title {
    font-size: 1.5rem;
    margin: 1.9rem;
  }
}

@media screen and (max-width: 280px) {
  .title {
    font-size: 1.3rem;
    margin: 1.8rem;
  }
}
